@charset "utf-8";
/*  ***************** Empieza login  ***************** */


body {
		background-size: auto 160%;
		background-color: #f0f2f5;
		-webkit-animation: mymove 600s infinite;
		animation: mymove 600s infinite;
		background-image: url(../bg.png);
		background-repeat: repeat-x;
		padding-top: 0;
		padding-bottom: 20px;
		margin-top: 1px;
		margin-right: 1px;
		margin-bottom: 1px;
		margin-left: 1px
}

.white-mod {
		background: #042635;
		padding: 7px 20px;
		color: #fff;
		font-size: 16px
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb
}


.text-center {
	text-align: center!important
}

.clouds {
		margin: 0;
		background: url(../clouds_2.png);
		background-size: auto;
		background-repeat: repeat-x;
		top: 0;
		-webkit-animation: mymove2 250s infinite;
		animation: mymove2 250s infinite;
		padding-left: 0;
		padding-right: 0;
		width: auto;
		height: auto
}

@keyframes mymove {
		0% {
				background-position: -2300px top
		}
		100% {
				background-position: 5000px top
		}
}

@keyframes mymove2 {
		0% {
				background-position: -2300px top
		}
		100% {
				background-position: 5000px top
		}
}

.login {
		font-family: Oswald, sans-serif;
		padding: 90px 0 0 0
}

.login a,
.login a:visited {
		text-decoration: underline;
		color: inherit
}

@media (max-width:768px) {
		.login {
				padding: 10px 0 0 0
		}
}


/*  ***************** Termina login  ***************** */


/*  ***************** Empieza reny  ***************** */


.informacion {
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 6px;
		padding-right: 6px;
		margin-bottom: 12px;
		margin-top: 12px;
		color: #000;
		border-radius: 16px;
		margin-left: 12px;
		margin-right: 12px;
		font-style: normal;
		font-size: 18px;
		background-color: rgba(172, 230, 241, .58);
		border: 1px solid rgba(0, 0, 0, .75);
		-webkit-box-shadow: 0 3px 10px #000;
		box-shadow: 0 3px 10px #000
}

.informa {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 3px;
		padding-right: 3px;
		color: #f8f7f7;
		font-style: normal;
		font-size: 14px;
		background-color: rgba(0, 0, 0, .72);
		text-align: center;
		border: 1px solid rgba(252, 252, 252, 1);
		border-radius: 16px;
		-webkit-box-shadow: 0 3px 10px #000;
		box-shadow: 0 3px 10px #000
}

.fondotrasparentelogo {
		border-radius: 20px;
		background-color: rgba(0, 0, 0, .07);
		margin-top: 4px;
		margin-bottom: 8px
}

.degradado {
		background-image: url(../clouds_2.png), -webkit-linear-gradient(270deg, rgba(77, 235, 255, 1) 0, rgba(62, 166, 185, .81) 48.7%, rgba(247, 243, 243, 1) 100%);
		background-image: url(../clouds_2.png), -moz-linear-gradient(270deg, rgba(77, 235, 255, 1) 0, rgba(62, 166, 185, .81) 48.7%, rgba(247, 243, 243, 1) 100%);
		background-image: url(../clouds_2.png), -o-linear-gradient(270deg, rgba(77, 235, 255, 1) 0, rgba(62, 166, 185, .81) 48.7%, rgba(247, 243, 243, 1) 100%);
		background-image: url(../clouds_2.png), linear-gradient(180deg, rgba(77, 235, 255, 1) 0, rgba(62, 166, 185, .81) 48.7%, rgba(247, 243, 243, 1) 100%);
		padding-top: 24px;
		padding-right: 24px;
		padding-bottom: 24px;
		padding-left: 24px;
		margin-top: 1px;
		margin-right: 1px;
		margin-bottom: 1px;
		margin-left: 1px;
		border-radius: 63px;
		border: 1px solid rgba(10, 87, 96, 1);
		background-repeat: repeat;
		background-attachment: fixed
}

.gratis {
    /* [disabled]padding-top: 5px; */
    /* [disabled]padding-bottom: 5px; */
    /* [disabled]padding-left: 3px; */
    /* [disabled]padding-right: 3px; */
    /* [disabled]color: #060606; */
    /* [disabled]font-style: normal; */
    /* [disabled]font-size: 14px; */
    /* [disabled]background-color: #149019; */
    /* [disabled]text-align: center; */
    /* [disabled]border: 1px solid rgba(252, 252, 252, 1); */
    /* [disabled]border-radius: 16px; */
    -webkit-box-shadow: 0 3px 10px #000;
    box-shadow: 0 3px 10px #000
}

.separador {
		margin-right: auto;
		margin-left: auto
}

.tiempo {
		margin-right: auto;
		margin-left: auto;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 1px;
		padding-right: 1px;
		color: #000;
		font-style: normal;
		font-size: 12px;
		background-color: rgba(156, 227, 235, .46);
		text-align: center;
		border: 1px solid rgba(11, 173, 201, 1);
		border-radius: 19px;
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px
}

.bordes {
		border: 4px solid rgba(39, 39, 39, .46);
		display: block;
		width: auto;
		height: auto;
		border-radius: 30px;
		-webkit-box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		margin-top: 11px
}

.bordeslog {
		border: 3px solid rgba(26, 114, 126, 1);
		display: block;
		width: auto;
		height: auto;
		border-radius: 30px;
		-webkit-box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		margin-top: 11px
}

.bordesDos {
		border: 6px solid rgba(45, 182, 207, 1);
		display: block;
		width: auto;
		height: auto;
		border-radius: 30px;
		-webkit-box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1)
}

.bordesTres {
		border: 1px solid rgba(45, 182, 207, 1);
		display: block;
		width: auto;
		height: auto;
		border-radius: 30px;
		-webkit-box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		box-shadow: 0 7px 15px 2px rgba(0, 0, 0, 1);
		margin-top: 16px;
		margin-left: 2px;
		margin-right: 2px;
		margin-bottom: 2px;
		padding-top: 17px;
		padding-bottom: 17px;
		padding-left: 17px;
		padding-right: 17px
}

.separacionarriba {
		margin-top: 15px
}

.formulario input[type=number],
.formulario input[type=password],
.formulario input[type=text] {
		border: 1px solid #fcfbfb;
		background-color: rgba(5, 48, 57, .8);
		height: 28px;
		font-size: 15px;
		border-radius: 8px
}

.formulario input[type=number],
.formulario input[type=password],
.formulario input[type=submit],
.formulario input[type=text] {
		display: block;
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 8px;
		width: 180px;
		color: #f8f5f5;
		outline: 0;
		font-family: Oswald, sans-serif;
		-webkit-box-shadow: 0 0;
		box-shadow: 0 0;
		text-align: center
}

.formulario input[type=submit] {
		-webkit-appearance: none;
		background-color: #44c2d8;
		background-image: url(../exit.png);
		background-repeat: no-repeat;
		background-position: left center;
		border: solid 0 #389aaf;
		border-bottom: solid 3px #389aaf;
		height: 40px;
		width: 195px;
		font-size: 10px;
		font-weight: 400;
		outline: 0;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		cursor: pointer;
		border-radius: 10px
}

.formulario input:hover[type=submit] {
		background-color: #31b3cb;
		background-image: url(../exit.png);
		background-repeat: no-repeat;
		background-position: right center;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease
}


/*  ***************** Termina reny  ***************** */

/*  ***************** Empieza bootstrap ***************** */

:root {
		--blue: #007bff;
		--indigo: #6610f2;
		--purple: #6f42c1;
		--pink: #e83e8c;
		--red: #dc3545;
		--orange: #fd7e14;
		--yellow: #ffc107;
		--green: #28a745;
		--teal: #20c997;
		--cyan: #17a2b8;
		--white: #fff;
		--gray: #6c757d;
		--gray-dark: #343a40;
		--primary: #007bff;
		--secondary: #6c757d;
		--success: #28a745;
		--info: #17a2b8;
		--warning: #ffc107;
		--danger: #dc3545;
		--light: #f8f9fa;
		--dark: #343a40;
		--breakpoint-xs: 0;
		--breakpoint-sm: 576px;
		--breakpoint-md: 768px;
		--breakpoint-lg: 992px;
		--breakpoint-xl: 1200px;
		--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
::after,
::before {
		box-sizing: border-box
}

html {
		font-family: sans-serif;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent
}

header {
		display: block
}


[tabindex="-1"]:focus {
		outline: 0!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
		margin-top: 0;
		margin-bottom: .5rem
}

p {
		margin-top: 0;
		margin-bottom: 1rem
}

ul {
		margin-top: 0;
		margin-bottom: 1rem
}

ul ul {
		margin-bottom: 0
}

strong {
		font-weight: bolder
}

a {
		color: #000306;
		text-decoration: none;
		background-color: transparent
}

a:hover {
		color: #cadef4;
		text-decoration: underline
}

a:not([href]):not([tabindex]) {
		color: inherit;
		text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
		color: inherit;
		text-decoration: none
}

a:not([href]):not([tabindex]):focus {
		outline: 0
}

img {
		vertical-align: middle;
		border-style: none
}

label {
		display: inline-block;
		margin-bottom: .5rem
}

button {
		border-radius: 0
}

button:focus {
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color
}

button,
input {
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit
}

button,
input {
		overflow: visible
}

button {
		text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
		-webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
		cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
		padding: 0;
		border-style: none
}

input[type=checkbox],
input[type=radio] {
		box-sizing: border-box;
		padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
		-webkit-appearance: listbox
}

legend {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin-bottom: .5rem;
		font-size: 1.5rem;
		line-height: inherit;
		color: inherit;
		white-space: normal
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
		height: auto
}

[type=search] {
		outline-offset: -2px;
		-webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
		-webkit-appearance: none
}

::-webkit-file-upload-button {
		font: inherit;
		-webkit-appearance: button
}

summary {
		display: list-item;
		cursor: pointer
}

[hidden] {
		display: none!important
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
		margin-bottom: .5rem;
		font-weight: 500;
		line-height: 1.2
}

.h1,
h1 {
		font-size: 2.5rem
}

.h2,
h2 {
		font-size: 2rem
}

.h3,
h3 {
		font-size: 1.75rem
}

.h4,
h4 {
		font-size: 1.5rem
}

.h5,
h5 {
		font-size: 1.25rem
}

.h6,
h6 {
		font-size: 1rem
}

.img-fluid {
		max-width: 100%;
		height: auto
}

.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto
}

@media (min-width:576px) {
		.container {
				max-width: 540px
		}
}

@media (min-width:768px) {
		.container {
				max-width: 720px
		}
}

@media (min-width:992px) {
		.container {
				max-width: 960px
		}
}

@media (min-width:1200px) {
		.container {
				max-width: 1140px
		}
}

.container-fluid {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto
}

.row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px
}

.col {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
}

.col-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
}

.col-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
}

.col-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
}

.col-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
}

.col-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
}

.col-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
}

.col-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
}

.col-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
}

.col-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
}

.col-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
}

.col-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
}

.col-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
}

.col-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
}

@media (min-width:576px) {
		.col-sm {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%
		}
		.col-sm-auto {
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				width: auto;
				max-width: 100%
		}
		.col-sm-1 {
				-ms-flex: 0 0 8.333333%;
				flex: 0 0 8.333333%;
				max-width: 8.333333%
		}
		.col-sm-2 {
				-ms-flex: 0 0 16.666667%;
				flex: 0 0 16.666667%;
				max-width: 16.666667%
		}
		.col-sm-3 {
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%
		}
		.col-sm-4 {
				-ms-flex: 0 0 33.333333%;
				flex: 0 0 33.333333%;
				max-width: 33.333333%
		}
		.col-sm-5 {
				-ms-flex: 0 0 41.666667%;
				flex: 0 0 41.666667%;
				max-width: 41.666667%
		}
		.col-sm-6 {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%
		}
		.col-sm-7 {
				-ms-flex: 0 0 58.333333%;
				flex: 0 0 58.333333%;
				max-width: 58.333333%
		}
		.col-sm-8 {
				-ms-flex: 0 0 66.666667%;
				flex: 0 0 66.666667%;
				max-width: 66.666667%
		}
		.col-sm-9 {
				-ms-flex: 0 0 75%;
				flex: 0 0 75%;
				max-width: 75%
		}
		.col-sm-10 {
				-ms-flex: 0 0 83.333333%;
				flex: 0 0 83.333333%;
				max-width: 83.333333%
		}
		.col-sm-11 {
				-ms-flex: 0 0 91.666667%;
				flex: 0 0 91.666667%;
				max-width: 91.666667%
		}
		.col-sm-12 {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%
		}
}

@media (min-width:768px) {
		.col-md {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%
		}
		.col-md-auto {
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				width: auto;
				max-width: 100%
		}
		.col-md-1 {
				-ms-flex: 0 0 8.333333%;
				flex: 0 0 8.333333%;
				max-width: 8.333333%
		}
		.col-md-2 {
				-ms-flex: 0 0 16.666667%;
				flex: 0 0 16.666667%;
				max-width: 16.666667%
		}
		.col-md-3 {
				-ms-flex: 0 0 25%;
				flex: 0 0 25%;
				max-width: 25%
		}
		.col-md-4 {
				-ms-flex: 0 0 33.333333%;
				flex: 0 0 33.333333%;
				max-width: 33.333333%
		}
		.col-md-5 {
				-ms-flex: 0 0 41.666667%;
				flex: 0 0 41.666667%;
				max-width: 41.666667%
		}
		.col-md-6 {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%
		}
		.col-md-7 {
				-ms-flex: 0 0 58.333333%;
				flex: 0 0 58.333333%;
				max-width: 58.333333%
		}
		.col-md-8 {
				-ms-flex: 0 0 66.666667%;
				flex: 0 0 66.666667%;
				max-width: 66.666667%
		}
		.col-md-9 {
				-ms-flex: 0 0 75%;
				flex: 0 0 75%;
				max-width: 75%
		}
		.col-md-10 {
				-ms-flex: 0 0 83.333333%;
				flex: 0 0 83.333333%;
				max-width: 83.333333%
		}
		.col-md-11 {
				-ms-flex: 0 0 91.666667%;
				flex: 0 0 91.666667%;
				max-width: 91.666667%
		}
		.col-md-12 {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%
		}
}

.col-form-label {
		padding-top: calc(.375rem+ 1px);
		padding-bottom: calc(.375rem+ 1px);
		margin-bottom: 0;
		font-size: inherit;
		line-height: 1.5
}

.col-form-label-sm {
		padding-top: calc(.25rem+ 1px);
		padding-bottom: calc(.25rem+ 1px);
		font-size: .875rem;
		line-height: 1.5
}

.form-text {
		display: block;
		margin-top: .25rem
}

.form-row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -5px;
		margin-left: -5px
}

.form-row>.col,
.form-row>[class*=col-] {
		padding-right: 5px;
		padding-left: 5px
}

.btn {
		display: inline-block;
		font-weight: 400;
		color: #212529;
		text-align: center;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: transparent;
		border: 1px solid transparent;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
		.btn {
				transition: none
		}
}

.btn:hover {
		color: #212529;
		text-decoration: none
}

.btn.focus,
.btn:focus {
		outline: 0;
		box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn:disabled {
		opacity: .65
}

.btn-link {
		font-weight: 400;
		color: #007bff;
		text-decoration: none
}

.btn-link:hover {
		color: #0056b3;
		text-decoration: underline
}

.btn-link.focus,
.btn-link:focus {
		text-decoration: underline;
		box-shadow: none
}

.btn-link:disabled {
		color: #6c757d;
		pointer-events: none
}

.btn-sm {
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
		border-radius: .2rem
}

.collapse:not(.show) {
		display: none
}

.card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, .125);
		border-radius: .25rem
}

.card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem
}

.card-title {
		margin-bottom: .75rem
}

.card-text:last-child {
		margin-bottom: 0
}

.card-link:hover {
		text-decoration: none
}

.card-link+.card-link {
		margin-left: 1.25rem
}

.card-header {
		padding: .75rem 1.25rem;
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, .03);
		border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
		border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-img {
		width: 100%;
		border-radius: calc(.25rem - 1px)
}

.accordion>.card {
		overflow: hidden
}

.accordion>.card:not(:first-of-type) .card-header:first-child {
		border-radius: 0
}

.accordion>.card:not(:first-of-type):not(:last-of-type) {
		border-bottom-width: 0;
		border-radius: 0
}

.accordion>.card:first-of-type {
		border-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0
}

.accordion>.card:last-of-type {
		border-top-left-radius: 0;
		border-top-right-radius: 0
}

.accordion>.card .card-header {
		margin-bottom: -1px
}

@-webkit-keyframes progress-bar-stripes {
		from {
				background-position: 1rem 0
		}
		to {
				background-position: 0 0
		}
}

@keyframes progress-bar-stripes {
		from {
				background-position: 1rem 0
		}
		to {
				background-position: 0 0
		}
}

@-webkit-keyframes spinner-border {
		to {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg)
		}
}

@keyframes spinner-border {
		to {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg)
		}
}

@-webkit-keyframes spinner-grow {
		0% {
				-webkit-transform: scale(0);
				transform: scale(0)
		}
		50% {
				opacity: 1
		}
}

@keyframes spinner-grow {
		0% {
				-webkit-transform: scale(0);
				transform: scale(0)
		}
		50% {
				opacity: 1
		}
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
		.sticky-top {
				position: -webkit-sticky;
				position: sticky;
				top: 0;
				z-index: 1020
		}
}

.h-25 {
		height: 25%!important
}

.h-50 {
		height: 50%!important
}

.h-75 {
		height: 75%!important
}

.h-100 {
		height: 100%!important
}

.h-auto {
		height: auto!important
}

.m-0 {
		margin: 0!important
}

.mb-0 {
		margin-bottom: 0!important
}

.m-1 {
		margin: .25rem!important
}

.mb-1 {
		margin-bottom: .25rem!important
}

.m-2 {
		margin: .5rem!important
}

.mb-2 {
		margin-bottom: .5rem!important
}

.m-3 {
		margin: 1rem!important
}

.mb-3 {
		margin-bottom: 1rem!important
}

.m-4 {
		margin: 1.5rem!important
}

.mb-4 {
		margin-bottom: 1.5rem!important
}

.m-5 {
		margin: 3rem!important
}

.mb-5 {
		margin-bottom: 3rem!important
}

.p-0 {
		padding: 0!important
}

.p-1 {
		padding: .25rem!important
}

.p-2 {
		padding: .5rem!important
}

.p-3 {
		padding: 1rem!important
}

.p-4 {
		padding: 1.5rem!important
}

.p-5 {
		padding: 3rem!important
}

.m-n1 {
		margin: -.25rem!important
}

.mb-n1 {
		margin-bottom: -.25rem!important
}

.m-n2 {
		margin: -.5rem!important
}

.mb-n2 {
		margin-bottom: -.5rem!important
}

.m-n3 {
		margin: -1rem!important
}

.mb-n3 {
		margin-bottom: -1rem!important
}

.m-n4 {
		margin: -1.5rem!important
}

.mb-n4 {
		margin-bottom: -1.5rem!important
}

.m-n5 {
		margin: -3rem!important
}

.mb-n5 {
		margin-bottom: -3rem!important
}

.m-auto {
		margin: auto!important
}

.mb-auto {
		margin-bottom: auto!important
}

@media (min-width:576px) {
		.m-sm-0 {
				margin: 0!important
		}
		.mb-sm-0 {
				margin-bottom: 0!important
		}
		.m-sm-1 {
				margin: .25rem!important
		}
		.mb-sm-1 {
				margin-bottom: .25rem!important
		}
		.m-sm-2 {
				margin: .5rem!important
		}
		.mb-sm-2 {
				margin-bottom: .5rem!important
		}
		.m-sm-3 {
				margin: 1rem!important
		}
		.mb-sm-3 {
				margin-bottom: 1rem!important
		}
		.m-sm-4 {
				margin: 1.5rem!important
		}
		.mb-sm-4 {
				margin-bottom: 1.5rem!important
		}
		.m-sm-5 {
				margin: 3rem!important
		}
		.mb-sm-5 {
				margin-bottom: 3rem!important
		}
		.p-sm-0 {
				padding: 0!important
		}
		.p-sm-1 {
				padding: .25rem!important
		}
		.p-sm-2 {
				padding: .5rem!important
		}
		.p-sm-3 {
				padding: 1rem!important
		}
		.p-sm-4 {
				padding: 1.5rem!important
		}
		.p-sm-5 {
				padding: 3rem!important
		}
		.m-sm-n1 {
				margin: -.25rem!important
		}
		.mb-sm-n1 {
				margin-bottom: -.25rem!important
		}
		.m-sm-n2 {
				margin: -.5rem!important
		}
		.mb-sm-n2 {
				margin-bottom: -.5rem!important
		}
		.m-sm-n3 {
				margin: -1rem!important
		}
		.mb-sm-n3 {
				margin-bottom: -1rem!important
		}
		.m-sm-n4 {
				margin: -1.5rem!important
		}
		.mb-sm-n4 {
				margin-bottom: -1.5rem!important
		}
		.m-sm-n5 {
				margin: -3rem!important
		}
		.mb-sm-n5 {
				margin-bottom: -3rem!important
		}
		.m-sm-auto {
				margin: auto!important
		}
		.mb-sm-auto {
				margin-bottom: auto!important
		}
}

@media (min-width:768px) {
		.m-md-0 {
				margin: 0!important
		}
		.mb-md-0 {
				margin-bottom: 0!important
		}
		.m-md-1 {
				margin: .25rem!important
		}
		.mb-md-1 {
				margin-bottom: .25rem!important
		}
		.m-md-2 {
				margin: .5rem!important
		}
		.mb-md-2 {
				margin-bottom: .5rem!important
		}
		.m-md-3 {
				margin: 1rem!important
		}
		.mb-md-3 {
				margin-bottom: 1rem!important
		}
		.m-md-4 {
				margin: 1.5rem!important
		}
		.mb-md-4 {
				margin-bottom: 1.5rem!important
		}
		.m-md-5 {
				margin: 3rem!important
		}
		.mb-md-5 {
				margin-bottom: 3rem!important
		}
		.p-md-0 {
				padding: 0!important
		}
		.p-md-1 {
				padding: .25rem!important
		}
		.p-md-2 {
				padding: .5rem!important
		}
		.p-md-3 {
				padding: 1rem!important
		}
		.p-md-4 {
				padding: 1.5rem!important
		}
		.p-md-5 {
				padding: 3rem!important
		}
		.m-md-n1 {
				margin: -.25rem!important
		}
		.mb-md-n1 {
				margin-bottom: -.25rem!important
		}
		.m-md-n2 {
				margin: -.5rem!important
		}
		.mb-md-n2 {
				margin-bottom: -.5rem!important
		}
		.m-md-n3 {
				margin: -1rem!important
		}
		.mb-md-n3 {
				margin-bottom: -1rem!important
		}
		.m-md-n4 {
				margin: -1.5rem!important
		}
		.mb-md-n4 {
				margin-bottom: -1.5rem!important
		}
		.m-md-n5 {
				margin: -3rem!important
		}
		.mb-md-n5 {
				margin-bottom: -3rem!important
		}
		.m-md-auto {
				margin: auto!important
		}
		.mb-md-auto {
				margin-bottom: auto!important
		}
}

.text-left {
		text-align: left!important
}

.text-center {
		text-align: center!important
}

@media (min-width:576px) {
		.text-sm-left {
				text-align: left!important
		}
		.text-sm-center {
				text-align: center!important
		}
}

@media (min-width:768px) {
		.text-md-left {
				text-align: left!important
		}
		.text-md-center {
				text-align: center!important
		}
}

.text-white {
		color: #fff!important
}

.text-body {
		color: #212529!important
}

.text-white-50 {
		color: rgba(255, 255, 255, .5)!important
}

@media print {
		*,
		::after,
		::before {
				text-shadow: none!important;
				box-shadow: none!important
		}
		a:not(.btn) {
				text-decoration: underline
		}
		img {
				page-break-inside: avoid
		}
		h2,
		h3,
		p {
				orphans: 3;
				widows: 3
		}
		h2,
		h3 {
				page-break-after: avoid
		}
		@page {
				size: a3
		}
		body {
				min-width: 992px!important
		}
		.container {
				min-width: 992px!important
		}
}



/*  ***************** Termina bootstrap  ***************** */

	
