/* styles.css */

body {
    background-color: #87CEEB ;
    font-family: Arial, sans-serif;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    width: 50%;
}

.alert {
    margin-bottom: 1.5rem;
}

.btn-danger {
    padding: 10px 20px;
    font-size: 16px;
}
